html,
body {
  height: 100%;
  overflow: hidden;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
  font: 14px "微软雅黑";
}
a {
  text-decoration: none;
  display: block;
}
li {
  list-style: none;
}
img {
  display: block;
}
.subHead {
  display: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.moveToTop {
  -webkit-animation: moveToTop .6s ease both;
  animation: moveToTop 3s ease both;
}
@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%) scale(0.5);
  }
}
.moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both;
}
@keyframes moveFromBottom {
  to {
    transform: translateY(0);
  }
}
.moveFromTop {
  -webkit-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both;
}
@keyframes moveFromTop {
  to {
    transform: translateY(0%);
  }
}
.moveToBottom {
  -webkit-animation: moveToBottom .6s ease both;
  animation: moveToBottom 3s ease both;
}
@keyframes moveToBottom {
  to {
    transform: translateY(100%) scale(0.5);
  }
}
.arrow {
  animation: loopArrow 1s infinite;
}
@keyframes loopArrow {
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
.active.music {
  animation: musicRotate 2s linear infinite both;
}
@keyframes musicRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.preCurrent .page1_fromLeft {
  animation: page1_fromLeft 1s linear both;
}
@keyframes page1_fromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.preCurrent .page1_fromRight {
  animation: page1_fromRight 1s linear both;
}
@keyframes page1_fromRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.preCurrent .circleRotate1 {
  animation: circleRotate1 1s linear both;
}
@keyframes circleRotate1 {
  100% {
    transform: translateY(-350%) rotate(360deg);
  }
}
.preCurrent .circleRotate2 {
  animation: circleRotate2 1s linear both;
}
@keyframes circleRotate2 {
  100% {
    transform: translate(-200%, -200%) rotate(360deg);
  }
}
.preCurrent .circleRotate3 {
  animation: circleRotate3 1s linear both;
}
@keyframes circleRotate3 {
  100% {
    transform: translate(-160%, 160%) rotate(360deg);
  }
}
.preCurrent .circleRotate4 {
  animation: circleRotate4 1s linear both;
}
@keyframes circleRotate4 {
  100% {
    transform: translateY(270%) rotate(360deg);
  }
}
.preCurrent .circleRotate5 {
  animation: circleRotate5 1s linear both;
}
@keyframes circleRotate5 {
  100% {
    transform: translate(160%, 160%) rotate(360deg);
  }
}
.preCurrent .circleRotate6 {
  animation: circleRotate6 1s linear both;
}
@keyframes circleRotate6 {
  100% {
    transform: translate(200%, -200%) rotate(360deg);
  }
}
.preCurrent .rotatePic {
  animation: rotatePic 1s linear both;
}
@keyframes rotatePic {
  100% {
    transform: rotateY(720deg);
  }
}
.preCurrent .recScale {
  animation: recScale 1s linear both;
}
@keyframes recScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#wrap {
  height: 100%;
  overflow: hidden;
}
#wrap .preCurrent {
  z-index: 5;
}
#wrap .current {
  z-index: 10;
}
#wrap .hide {
  display: none;
}
#wrap .toBottomOrigin {
  transform-origin: 50% 100% 0;
}
#wrap .toTopOrigin {
  transform-origin: 50% 0 0;
}
#wrap .list {
  height: 100%;
  width: 100%;
  background: url("../img/b.png") no-repeat;
  background-size: 100% 100% ;
  overflow: hidden;
  position: absolute;
}
#wrap .list p {
  color: white;
  text-align: center;
}
#wrap .list p:nth-of-type(1) {
  margin: 444px 0 0 0;
  transform: translateX(100%);
}
#wrap .list p:nth-of-type(2) {
  transform: translateX(-100%);
}
#wrap .list p:nth-of-type(3) {
  transform: translateX(100%);
}
#wrap .list p:nth-of-type(4) {
  transform: translateX(-100%);
}
#wrap .list1 {
  height: 100%;
  width: 100%;
  background: url("../img/c.png") no-repeat;
  background-size: 100% 100% ;
  overflow: hidden;
  position: absolute;
}
#wrap .list1 .list1_IcoWrap {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 0;
  right: 0;
  margin: 370px auto;
}
#wrap .list1 .list1_IcoWrap img {
  height: 47px;
  width: 47px;
  position: absolute;
}
#wrap .list2 {
  height: 100%;
  width: 100%;
  background: url("../img/d.png") no-repeat;
  background-size: 100% 100% ;
  overflow: hidden;
  position: absolute;
}
#wrap .list2 img {
  height: 120px;
  width: 193px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 400px auto;
}
#wrap .list3 {
  height: 100%;
  width: 100%;
  background: url("../img/e.png") no-repeat;
  background-size: 100% 100% ;
  overflow: hidden;
  position: absolute;
}
#wrap .list3 p {
  color: white;
  border: 1px #FFF solid;
  box-shadow: 0 0 15px #FFF;
  border-radius: 5px;
  transform: scale(0);
}
#wrap .list3 p:nth-child(1) {
  font: 11px "微软雅黑";
  width: 134px;
  height: 110px;
  position: absolute;
  left: 15px;
  top: 100px;
  transform-origin: 0 0 0;
}
#wrap .list3 p:nth-child(2) {
  font: 11px "微软雅黑";
  width: 142px;
  height: 110px;
  position: absolute;
  right: 50px;
  top: 120px;
  transform-origin: 0 0 0;
}
#wrap .list3 p:nth-child(3) {
  font: 11px "微软雅黑";
  width: 62px;
  height: 140px;
  position: absolute;
  right: 46px;
  top: 260px;
  transform-origin: 0 0 0;
}
#wrap .list4 {
  height: 100%;
  width: 100%;
  background: url("../img/f.png") no-repeat;
  background-size: 100% 100% ;
  overflow: hidden;
  position: absolute;
}
canvas {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
}
.music {
  width: 27px;
  height: 27px;
  position: absolute;
  background: url("../img/music.png") no-repeat;
  background-size: 100% 100% ;
  right: 5px;
  top: 5px;
  z-index: 90;
}
.music audio {
  width: 100px;
  height: 100%;
}
.arrow {
  height: 26px;
  width: 45px;
  position: fixed;
  background: pink;
  bottom: 10px;
  right: 161px;
  z-index: 90;
  background: url("../img/arr.png");
  background-size: 100% 100%;
}
